.toptitle
	@include toptitle__style
.title
	@include title__style
.subtitle
	@include subtitle__style

.grid 
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: -1
	text-align: center

.main__page 
	margin-bottom: 20px

.container 
	max-width: 1140px
	padding: 0 25px

.header 
	position: relative
	top: 0
	left: 0
	z-index: 5
	width: 100%
	&__list 
		display: flex
		justify-content: space-between
		list-style-type: none
		padding: 15px 50px
		li 
			padding: 0 10px
	&__link 
		color: white
		font-size: 16px
		transition: all .25s ease-in-out 0s
		&:hover 
			color: royalblue
			text-decoration: none
	.top__header 
		position: fixed
		top: 0
		left: 0
		z-index: 5
		width: 100%
		height: 53px
		background-color: $color1
	.subheader 
		position: absolute
		top: 53px
		left: 0
		width: 100%
		height: 87px
		background-color: rgba(0, 0, 0, 0.6)
		.logo__link 
			display: block
			margin-top: 16px
		.logo__text 
			margin-top: 4px
			color: $color3
			font-size: 13px
			font-style: normal
			font-weight: 100
			opacity: 0.6
		.call__text
			display: block
			color: $color3
			text-align: right
			font-size: 13px
			font-style: normal
			font-weight: 300
			opacity: 0.6
			margin-top: 13px
		.phone 
			display: block
			margin-top: -5px
			color: $color3
			font-size: 21px
			font-weight: 400
			text-align: right
			line-height: 12px
		.call-btn
			.btn
				margin-top: 15px
				margin-left: 22px
				padding: 0 13px
				border: none
				border-radius: 4px
				background: linear-gradient(0deg, $color5 0%, #4CE2FF 100%)
				color: $color3
				font-size: 14px
				line-height: 46px
				text-transform: uppercase

.col-md-2 
	padding: 0

.promo 
	color: $color3
	min-height: 800px
	background: url('../img/uber_bg.png') center (center / cover) no-repeat fixed
	&__content 
		text-align: center
		margin-top: 180px
	&__header 
		font-size: 52px
		font-weight: 900
		text-transform: uppercase
		margin: 0
		padding: 0
	&__subheader 
		padding: 0 0 10px 0
		font-size: 31px
		font-weight: 700
		line-height: 48px
		text-transform: uppercase
	&__text 
		font-size: 18px
		font-weight: 200
		line-height: 24px
	&__btn 
		color: $color3
		text-align: center
		font-size: 16px
		line-height: 63px
		text-transform: uppercase
		border: none
		border-radius: 4px
		background: linear-gradient(0deg, $color5 0%, #4CE2FF 100%)
		margin: 100px 0 0 0
		padding: 0 50px

.advantage 
	padding: 0 0 100px 0
	.row
		.advantage__block
			min-width: 100%
			height: 150px
			display: flex
			padding: 10px 20px
			margin: 20px 0
		.advantage__content
			width: 100%
			margin-left: 30px
		.advantage__content-title
			color: $color5
			font-size: 17px
			font-weight: 400
			line-height: 21px
		.advantage__content-text
			color: $color6
			font-size: 15px
			font-weight: 300
			line-height: 21px
.mobile
	background: url('../img/mobile_bg.png') center (center / cover) no-repeat
	padding: 45px 0
	&__content
		.mobile__content-block-1
			background: url('../img/mobile_cards/card-1.png') center (center / cover) no-repeat
		.mobile__content-block-2
			background: url('../img/mobile_cards/card-2.png') center (center / cover) no-repeat
		.mobile__content-block-3
			background: url('../img/mobile_cards/card-3.png') center (center / cover) no-repeat
		.mobile__content-block-4
			background: url('../img/mobile_cards/card-4.png') center (center / cover) no-repeat
		.mobile__content-block-5
			background: url('../img/mobile_cards/card-5.png') center (center / cover) no-repeat
		.mobile__content-block-6
			background: url('../img/mobile_cards/card-6.png') center (center / cover) no-repeat
		.mobile__content-block
			width: 320px
			height: 280px
			margin: 0 auto
			margin-bottom: 20px
			padding: 92px 15px 0px 15px
			position: relative
			.mobile__content-text
				color: $color3
				text-align: center
				font-size: 24px
				font-style: normal
				font-weight: 400
				line-height: 31px
				text-transform: uppercase
			.mobile__content-btn
				cursor: pointer
				display: inline-block
				position: absolute
				bottom: 35px
				left: 50%
				height: 25px
				width: 25px
				background-color: black
				border-radius: 100%
				transform: translateX(-50%)
				&::after
					content: ''
					width: 50%
					height: 2px
					display: block
					margin-top: 50%
					margin-left: 25%
					transform: translateY(-50%)
					background-color: $color5
				&::before
					content: ''
					position: absolute
					width: 2px
					height: 50%
					display: block
					margin-top: 25%
					margin-left: 50%
					transform: translateX(-50%)
					background-color: $color5

.chose
	padding: 45px 0 150px 0
	width: 100%
	height: 100%
	background: $color2 url("../img/mobile_bg.png") 0px 500px no-repeat
	.toptitle
		background-color: $color3
		color: $color2
	.title, .subtitle
		color: $color3
	.img__car
		text-align: center
		padding-top: 45px
		max-width: 100%
	.subtext_car
		text-align: center
		font-size: 17px
		font-weight: 300
		line-height: 24px

.condition
	padding: 25px 0 75px 0
	.lists 
		display: flex
		justify-content: space-between
		font-weight: 100
		.list_1, .list_2
			list-style: none
			.title__list-blue
				color: $color5
				margin-bottom: 10px
			.list__item
				position: relative
				padding: 3.5px 0
				margin-left: 45px
				&::before
					content: url('../icons/сheck_mark_done-blue.png')
					position: absolute
					left: -30px
					top: 4px
		.list_3, .list_4
			list-style: none			
			.title__list-red
				color: $color7
				margin-bottom: 20px
			.list__item
				position: relative
				padding: 3.5px 0
				margin-left: 45px
				&::before
					content: url('../icons/сheck_mark_done-red.png')
					position: absolute
					left: -30px
					top: 4px

.world
	background-color: $color8
	.container 
		background-image: url('../img/world_bg.png') 
		padding: 45px 0 0px 0
		.content
			height: 550px
			.toptitle
				background-color: $color3
				color: $color2
			.title, .subtitle
				color: $color3
			.world__subtext
				text-transform: uppercase
				text-align: center
				padding-top: 340px
				font-size: 15px
				a
					color: $color5

.footer
	padding-bottom: 30px
	.line
		color: $color2
		width: 300px
		margin: 20px auto
		text-align: center
		border: none
		border-top: 4px $color5 solid;
	.content
		display: flex
		justify-content: space-around
	.content > div
		width: 33%
		&::nth-child(3)
			display: flex
			justify-content: end
		.media
			padding-top: 25px
			display: flex
			.facebook
				padding: 2.5px 6px
				margin-left: 25px !important
			.twitter
				padding: 2.5px 6px
			.linkdedin
				padding: 2.5px 9px
			.instagram
				padding: 2.5px 8px
			.media__item
				position: relative
				margin-left: 10px
				&::before
					content: ''
					position: absolute
					top: 0
					left: 0
					z-index: -1
					width: 32px
					height: 32px
					display: block
					background-color: $color8
					border-radius: 100%
		.link
			width: 400px
			margin: 0 auto
			.toplink
				display: flex
				justify-content: space-around
				.toplink__item
					color: #070716
					font-size: 15px
					font-weight: 300
					line-height: 68px 
					text-transform: uppercase
			.sublink
				display: flex
				justify-content: space-between
				.sublink__item
					color: #999
					font-size: 11px
					font-weight: 300
					text-transform: uppercase
			.language
				margin: 10px auto
				text-align: center
				a 
					color: $color5
		.downolad
			text-align: right
			margin-right: 25px !important