@media (max-width: 1200px) 
	.header
		.header__link
			font-size: 90%
		.logo__block
			.logo
				width: 90%
				height: 90%
		.call-btn
			margin-left: 0px
			.btn
				margin-left: 0
	.promo__header
		font-size: 49px

	.advantage
		.row
			margin: 0 auto
			.title
				font-size: 90%
			.advantage__block
				flex-direction: column
				max-width: 570px
				margin: 0px auto
				height: auto !important
				.advantage__img
					display: none
				.advantage__content
					margin: 0		
			.advantages__column-1
				margin-bottom: 0px

@media (max-width: 930px) 
	.header
		.header__link
			font-size: 12px
		.subheader 
			height: 75px
			.logo__block
				.logo__text
					font-size: 11px
			.call__text__phone
				.call__text
					font-size: 10px
				.phone
					font-size: 17px
			.call-btn
				margin-left: 0px
				.btn
					margin-left: 0
					font-size: 12px
					line-height: 40px
	.promo
		.promo__header
			font-size: 40px
		.promo__subheader
			font-size: 25px
		.promo__text
			font-size: 16px
		.promo__btn
			font-size: 15px
			margin-top: 70px

	.advantage
		.container
			.title
				font-size: 26px

	.mobile
		.title
			font-size: 26px
		.subtitle
			font-size: 16px
		.mobile__content-block
			min-height: 230px
			padding: 70px 10px 0px 10px
			.mobile__content-text
				font-size: 17px
				

@media (max-width: 813px) 
	.header
		.header__link
			font-size: 11px
		.subheader
			.logo__block
				.logo__text
					font-size: 10px
			.call-btn
				.btn
					margin-left: 0
					font-size: 10px
					line-height: 40px

@media (max-width: 767px)
	.header
		.header__list
			padding-left: 15px
			.header__link
				font-size: 20px
	.subheader
		.row
			.call-btn, .call__text__phone
				width: 50%
				padding: 0 15px
			.call-btn
				text-align: right
			.logo__link, .logo__text
				display: none
			.phone, .call__text
				text-align: revert
			.phone
				font-size: 20px
			.call__text
				font-size: 12px
			.btn
				margin-left: 0
				font-size: 12px
				line-height: 45px
	.promo
		padding: 0 0 50px 0		
		.promo__header
			font-size: 30px
		.promo__subheader
			font-size: 17px
			line-height: 30px
		.promo__text
			font-size: 14px
		.promo__btn
			font-size: 13px
			margin-top: 40px

	.advantage
		.container
			margin: 0
			padding: 0px 5px 0 15px
			.toptitle
			.title
				line-height: 40px
				padding: 10px 0
			.advantage__block
				flex-direction: column
				margin: 0px auto
				padding: 0
				min-width: 225px
				.advantage__img
					margin: 0 auto
				.advantage__content
					margin: 0 auto
					padding: 0
					text-align: left
					.advantage__content-text
						padding: 0 0 20px 0
	
	.mobile
		.subtitle
			font-size: 15px
			
		
@media (max-width: 375px) 
	.subheader
		.row
			.call-btn
				width: 55%
				padding: 0 10px 
				.btn
					margin-left: 0
					font-size: 10px
					line-height: 45px
			.call__text__phone
				width: 45%
				padding: 0 10px 
				.phone
					font-size: 15px
					font-weight: 600
	.promo
		.promo__btn
			font-size: 11px
			padding: 0 15px
			line-height: 45px
			margin-top: 40px

	.advantage
		.row
			margin: 0 auto
			.toptitle
			.title
				font-size: 10px
			.advantage__block
				margin: 0px auto
				padding: 0
				height: auto !important
				.advantage__img
					display: none
				.advantage__content
					margin: 0
			.advantages__column-1, .row
				margin-bottom: 0px
				padding-left: 0px 
				