@media (max-width: 767px) {

    .top__header {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-right: 0;
        top: 0;
        left: 0;
    }

    .header__burger {
        display: block;
        position: relative;
        top: 20px;
        left: 0;
        width: 30px;
        height: 15px;
        z-index: 3;
        margin-right: 0px;
        margin-left: auto;

    }

    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: ease-in .3s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 6.5px;
        transition: ease-in .3s;
        background-color: #fff;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 6.5px;
        transition: ease-in .3s;
        background-color: #fff;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #212121;
        padding: 50px 0 0 0;
        transition: ease-in .3s;
    }

    .header__menu.active {
        top: 0;
        transition: ease-in .3s;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 0;
    }

    .header__list li {
        margin: 0 0 20px 0;
    }


}