* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    text-align: center;
}

.main__page {
    margin-bottom: 20px;
}

.header {
    position: fixed;
    z-index: 5;
    width: 100%;
}

.top__header {
    width: 100%;
    height: 53px;
    background-color: #212121;
}

.container {
    max-width: 1140px;
    padding: 0 25px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px 50px;
}

.header__list li {
    padding: 0 20px;
    border-right: 2px dotted #000;
}

.header__link {
    color: white;
    font-size: 16px;
    transition: all .25s ease-in-out 0s;
}

.header__link:hover {
    color: royalblue;
    text-decoration: none;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
}

.text__logo {
    margin-top: 4px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    opacity: 0.6;
}

.subheader .subheader__logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.text__call {
    display: block;
    color: #FFF;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    opacity: 0.6;
    margin-top: 13px;
}

.subheader__call {
    display: block;
    margin-top: -5px;
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    text-align: right;
    line-height: 12px;
}

.col-md-2 {
    padding: 0;
}

.subheader__call-btn {
    margin-top: 15px;
    margin-left: 22px;
    padding: 0 13px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    color: #FFF;
    font-size: 14px;
    line-height: 46px;
    text-transform: uppercase;
}

.promo {
    color: #FFF;
    min-height: 800px;
    background: url('../img/uber_bg.png') center center no-repeat;
}

.promo__content {
    text-align: center;
    margin-top: 200px
}

.promo__header {
    font-size: 52px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.promo__subheader {
    padding: 0 0 10px 0;
    font-size: 31px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.promo__text {
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
}

.promo__btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 63px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    margin: 100px 0 0 0;
    padding: 0 50px;
}

.advantages {
    display: flex;
}

.advantage__word {
    width: 115px;
    height: 27px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 8px 0;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-transform: uppercase;
    background-color: black;
}

.advantage__h1 {
    margin-bottom: 20px;
    color: #222;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.advantages__column-2 {
    padding-left: 50px;
}

.block__advantage {
    display: flex;
    margin: auto 0;
    height: 150px;
    margin-bottom: 30px;
}

.advantage__img {
    margin: auto 0;
}

.advantage__content {
    width: 370px;
    margin: auto 0;
    margin-left: 30px;
}

/* .advantages__column-2 {
    max-width: 500px;
} */

.advantage__title {
    color: #1EACC7;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.advantage__text {
    color: #202020;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}